DateTime==5.5
db-dtypes==1.4.2
Flask==3.1.0
Flask-HTTPAuth==4.8.0
google==3.0.0
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-core==2.4.3
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
functions-framework==3.5.0
requests==2.31.0
